body {
  font-weight: normal;
  font-family: $font;
  font-size: 16px;
  color: $base-color;
  background-color: #FFF;
  line-height: 1.3;
  // margin: 0;
  // padding: 0 10px;
  min-width: 320px;
}

th {
  text-align: left;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

/*Защита от больших картинок*/
img {
  max-width: 100%;
  height: auto;
  transition: all 1s ease 0s;
}
// img:hover {
//   transition: all 1s ease 0s;
//   transform: scale(1.3, 1.3);
// }
