$font: "Open Sans", "Arial", sans-serif;

$base-color: #444444; // gray-black
$headings: #000000; // black titles
$alt-color: #ffffff; // white
$lazurny: #63d1bb; //blue
$lazurny-hover: #59d5bc;
$dark-blue: #56c3b2;
$dark-blue-hover: #46c1ae;
$border-color: #ececec;
$gray-bg: #f1f1f1;

$tablet-widths: "(min-width: 768px)";
$desktop-widths: "(min-width: 1150px)";
