.galery {
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
      -webkit-justify-content: flex-end;
              justify-content: flex-end;
      background: //url("../img/hero-mobile") 50% 100% no-repeat,
              url("../img/hero-mobile@1x.jpg") center no-repeat;

  background-size: 100% 100%, cover;
  min-height: 490px;
  position: relative;
}
.galery__title {
  text-align: center;
}
.galery-blocks {
  position: relative;
}

.galery__group {

  display: block;
  width: 100%;
  //min-height: 105px;
  color: $alt-color;
  font-size: 1.26em;
  font-weight: bold;
  background-color: $lazurny;
  padding: 9.3%;
  text-align: left;

  &--value1::before {
  content: "";
  position: absolute;
  top: 20px;
  right: 15px;
  width: 41px;
  height: 62px;
  background: url("../img/icon-interior.svg") no-repeat;
  }

  &--value2::before {
  content: "";
  position: absolute;
  top: 120px;
  right: 10px;
  width: 61px;
  height: 61px;

  background: url("../img/icon-toy.svg") no-repeat;
  }
}
