.galery {
  position: relative;

  background-position: -100px;
  min-width: 320px;
  min-height: 490px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.galery__title {
  padding-top: 75px;
  padding-bottom: 120px;
  text-align: center;
  font-size: 27px;
}

.galery-blocks {
  position: relative;
}

.galery__group {
  display: block;
  width: 120px;
  color: $alt-color;
  font-size: 19px;
  font-weight: 700;
  padding: 20px;
  padding-right: 220px;
  text-align: left;

  &--interier {
    background-color: $lazurny;

  }

  &--toys {
    background-color: $dark-blue;

  }

  &--interier::before {
  content: "";
  position: absolute;
  top: 20px;
  right: 30px;
  width: 41px;
  height: 62px;
  background: url("../img/icon-interior.svg") no-repeat;
  }

  &--toys::before {
  content: "";
  position: absolute;
  top: 100px;
  right: 20px;
  width: 61px;
  height: 61px;
  background: url("../img/icon-toy.svg") no-repeat;
  }
}
