.main-nav {
  width: 320px;
  margin: 0 auto;
  position: relative;
}

.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
}

.main-nav__list {
  display: none;
}

.search-form {
  display: none;
}

.main-nav__link--cart {
  display: none;
}

.main-nav__description {
  display: none;
}
