.page-header {
  border-bottom: 1px solid #ececec;
}
.page-header__logo {
  margin: 0 auto;
  width: 86px;
  //background-color: $alternative-background;
//   // color: $secondary-color;
//   // text-transform: uppercase;
//   // padding-bottom: 6.5%;
 }
