.social {
  display: flex;
  -webkit-justify-content: center;
    justify-content: center;
      -webkit-align-items: center;
              align-items: center;
  -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
          box-sizing: border-box;
      -webkit-flex-flow: row;
          -ms-flex-flow: row;
              flex-flow: row;
      width: 100%;
      min-height: 80px;
      padding-top: 8px;
      border-bottom: 2px solid $border-color;
}

@media #{$tablet-widths} {
  .social {
    width: 30%;
    padding-top: 5px;
    border: none;
  }
}
.social__btn {
  padding: 20px;
}
