.video {
  display: block;
  width: 100%;
  height: 150px;
  background: $gray-bg ("../img/video-mobile@1x.jpg") no-repeat center;

  @media #{$desktop-widths} {
    order: -1;
    height: 455px;
  }
}
